<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Gowth</title>
<script src="/lib/d3.v2.js"></script>
<script src="/lib/jquery-1.8.3.js"></script>
	<script src="/lib/_.js"></script>
	<style>
		
		body {
		  font: 10px sans-serif;
		}

		svg {
			border: solid 1px black;
		}

		

		.area.above {
		  fill: rgb(252,141,89);
		}

		.area.below {
		  fill: rgb(145,207,96);
		}



		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		 .subMethods.wigglish .axis path {
			stroke:#fff;
		 }

		.y.axis line,
		.x.axis line {
			stroke: rgba(87, 87, 87, 0.1);
			shape-rendering: crispEdges;
		}
		

		.axis.conversion path {
			stroke: purple;
		}


		.y.axis.subs {
			fill: green;
		}


		.line {
		  fill: none;
		  stroke-width: 1.5px;
		}

		.line.subs{ 
			stroke: green;
		}
		.area.subs {
			fill: #91CF60;
		}
		.area.subs.inUnsubsArea{
			fill:rgba(6, 252, 6, 0.37);
		}

		.line.unsubs{
			stroke:darkred;
		}
		.area.unsubs{
			fill: darkred;
		}

	
	</style>
</head>
<body>
	<h1>Growth</h1>
	
	<script src="/growth/dashboard.js"></script>
	<script src="/growth/dashboard-growth.js"></script>
	<script src="/growth/dashboard-sub-unsub-dff.js"></script>
	<script src="/growth/dashboard-submethods-base.js"></script>
	<script>
		var loader = new Dashboard.Growth.DataLoader('/growth/du_bbay.csv');
		var smoother = new Dashboard.Growth.MovingAverageDataSmoother(7);
		new Dashboard.Growth.GrowthGraph(loader,smoother);
		new Dashboard.Growth.SubUnsubDiff(loader,smoother);
		new Dashboard.Growth.SubMethodsBaseGraph(loader,smoother,true,true,Dashboard.Growth.subMethodNames);
		new Dashboard.Growth.SubMethodsBaseGraph(loader,smoother,false,false,Dashboard.Growth.subMethodNames,null,null,400);

		new Dashboard.Growth.SubMethodsBaseGraph(loader,smoother,true,false,Dashboard.Growth.unsubMethodNames,
			['rgb(237,132,77)', 'rgb(240,160,85)', 'rgb(243,186,94)', 'rgb(246,211,103)', 'rgb(248,234,112)', 'rgb(246,251,121)']
		,null,400, 'Unsbs');

	</script>
</body>
</html>
