<html>
	<head>
		<title>Devices</title>
		<script src="/lib/d3.v2.js"></script>
		<script src="/lib/jquery-1.8.3.js"></script>
		<script src="/lib/_.js"></script>
		<style>
			ul li span {
			    margin: 0 0px 0 0px;
			    display: block;
			    float: left;
			    width: 50px;
			    overflow: hidden;
			}

			li div {
			    display: block;
			    overflow: hidden;
			    height: 2ex;
			}

			span.title {
			    width: 200px;
			}

			span.subMethod, span.visits, span.subscribers, span.conversion {
			    width: 50px;
			    text-align: center;
			}
		
			.header span.subMethod {
			    width: 150px;
			    text-align: center;
			}

			ul {
			    margin: 0;padding: 0;
			}

			li {
			    display: block;
			    clear: both;
			    margin: 0;padding: 0;
			}


			li.folded {
			    font-weight: bold;
			}


		</style>
	</head>
    <body></body>
	<script src="/devices/iraq-types.js"></script>
    <script src="/devices/iraq.js"></script>
    <!--  $("ul:first>li:gt(0)>ul>li>ul") -->
    <!-- 
		$("ul:first>li>ul>li>ul").css("color",'blue')
        $("ul:first>li>ul>li:nth-child(3)>ul").css("color",'red')
	
	-->
</html>