<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>google play</title>
	<script src="/lib/d3.v2.js"></script>
	<script src="/lib/_.js"></script>
	<style>
		
		body {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		.axis.conversion path {
			stroke: purple;
		}

		.y.axis.conversion {
			fill: purple;
		}

		.y.axis.visits {
			fill: blue;
		}

		.line {
		  fill: none;
		  stroke-width: 1.5px;
		}

		.line.visits {
			stroke: blue;
		}

		.line.conversion {
			 stroke: purple;
		}

		.line.confDisplayRatio  {
			 stroke: rgba(120,120,120,.5);
			 stroke-dasharray: 5,5;
		}

		.line.confDisplay, .y.axis.confDisplay path {
			 stroke: rgba(0,120,220,.5);
			 stroke-dasharray: 5,5;
		}
		.y.axis.confDisplay {
			fill:rgba(0,120,220,.5);
		}

		.overlay {
			fill:rgba(0,0,0,0);
		}
	</style>
</head>
<body>
	<h1>google play</h1>
	
	<script src="/googleplay/line-perref.js"></script>
</body>
</html>
