<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<script src="/lib/d3.v2.js"></script>
	<script src="/lib/_.js"></script>
	<style>

body {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

	</style>
</head>
<body>
	<script src="/histogram/histogram-grouped.js"></script>
</body>
</html>
